# 📚 Refernce

- [Python sqlite3: DB-API 2.0 interface for SQLite databases](https://docs.python.org/3/library/sqlite3.html)
- [PEP 249 -- Python Database API Specification v2.0](https://www.python.org/dev/peps/pep-0249/)
- [SQLite Download Page](https://www.sqlite.org/download.html)
- [Command Line Shell For SQLite](https://www.sqlite.org/cli.html)
- [SQLite Sample Database](https://www.sqlitetutorial.net/sqlite-sample-database/)
- [SQLite Python](https://www.sqlitetutorial.net/sqlite-python/)
- [How to Connect to SQLite Database in Python 3](https://elearning.wsldp.com/python3/connect-sqlite-database-in-python-3/)
- [SQLite Commands](https://www.sqlitetutorial.net/sqlite-commands/)
- [SQLite Describe Table](https://www.sqlitetutorial.net/sqlite-tutorial/sqlite-describe-table/)
- [W3School: SQL Tutorial](https://www.w3schools.com/sql/)
- [SQL Cheat Sheet](https://www.sqltutorial.org/sql-cheat-sheet/)
- [Python網頁爬蟲—將資料存到SQLite資料庫](https://yhhuang1966.blogspot.com/2018/04/python-sqlite_28.html)
- [Python資料庫學習筆記(六)：SQLite3](https://yanwei-liu.medium.com/python%E8%B3%87%E6%96%99%E5%BA%AB%E5%AD%B8%E7%BF%92%E7%AD%86%E8%A8%98-%E5%85%AD-sqlite3-818ca8e7eff5)
---------------------
- [Python MySQL: Get Started](https://www.w3schools.com/python/python_mysql_getstarted.asp)
- [Querying Data Using fetchone(), fetchmany(), and fetchall() Methods](https://www.oracletutorial.com/python-oracle/querying-data-using-fetchone-fetchmany-and-fetchall-methods/)
- [使用 pymssql 連接 MS SQL Server](https://medium.com/@acer1832a/%E4%BD%BF%E7%94%A8-pymssql-%E9%80%A3%E6%8E%A5-ms-sql-server-9bcb6cd0c92c)

# 🔥 Get Started

- [The Schema Table](https://www.sqlite.org/schematab.html)

## 📝 table list and schemas

In [87]:
import sqlite3
from os import path

data_dir = './'

join_db = path.join(data_dir, "join.db")
self_join = path.join(data_dir, "self_join.db")
tutorial = path.join(data_dir, "tutorial.db")
salary = path.join(data_dir, "salary.db")
jinsert = path.join(data_dir, "join-insert.db")

1. connect --> 要求 dBMS 保留資源給我們，同時要隨時聽我們的指令

2. get a cursor --> 下指令的代理者 

3. cursor.execute(cmd) --> 執行指令

4. fetch result  --> 傳回值放在 list (tuples) 中， 用 iterate 方式取出

5.               --> 若是 update/insert/delete 類指令，用 cursor.rowcount 可得知受影響的資料筆數

In [ ]:
# https://www.sqlite.org/schematab.html

import sqlite3

db_name = jinsert
connection = sqlite3.connect(db_name)
cursor = connection.cursor()
result = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
tables = [x[0] for x in result]  # <-- list

print(f"tables included in {db_name}\n")
for t in tables:  # tables is iterable
    print(f'--- [{t}] ---\n')
    sql_text = f"SELECT sql FROM sqlite_master WHERE type = 'table' AND name = '{t}';"
    schema = cursor.execute(sql_text).fetchall()
    print(schema[0][0])
    print('')

connection.close()

## 🤭 exception ?

In [165]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Exception as e:
        print(e)
    return conn

In [166]:
con = create_connection('./abc.txt')
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
con.close()

In [167]:
con = create_connection('./abcabc.db')
cur = con.cursor()
result = cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print(result)
con.close()

[]

In [168]:
con = create_connection(path.join(data_dir, 'join_insert.txt'))
cur = con.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
con.close()

DatabaseError: file is not a database

In [169]:
con = create_connection(path.join(data_dir, 'join_insert.txt'))
cur = con.cursor()
try:
    cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
except Exception as e:
    print(f'執行 SQL 指令發生錯誤：{e}')
con.close()

執行 SQL 指令發生錯誤：file is not a database

In [173]:
con = create_connection(salary)
cur = con.cursor()
try:
    cur.execute("SELECT from abc;")
except Exception as e:
    print(f'執行 SQL 指令發生錯誤：{e}')
con.close()

執行 SQL 指令發生錯誤：near "from": syntax error

## 🆒 join test

In [174]:
inner1 = "SELECT u.user_id, l.user_id, u.name, u.createdAt, l.list_name, l.description " \
"FROM user u " \
"INNER JOIN list l ON u.user_id = l.user_id;"

inner2 = "SELECT u.name, l.list_name, s.artist, s.song_name " \
"FROM user u " \
"INNER JOIN list l on u.user_id = l.user_id " \
"INNER JOIN song s ON s.list_id = l.list_id;" 

left1 = "SELECT l.list_name, l.description, s.artist, s.song_name " \
"FROM list l " \
"LEFT JOIN song s ON l.list_id = s.list_id;" \

left2 = "SELECT u.name, u.createdAt, l.list_name, l.description, s.artist, s.song_name " \
"FROM user u " \
"LEFT JOIN list l on u.user_id = l.user_id " \
"LEFT JOIN song s ON s.list_id = l.list_id;"

diff = "SELECT u.name, u.createdAt, l.list_name " \
"FROM user u " \
"LEFT JOIN list l ON u.user_id = l.user_id " \
"WHERE l.list_name IS NULL;"

report1 = "SELECT m.name AS `Manager`,  e.name AS `Direct Report` " \
"FROM employee AS e " \
"INNER JOIN employee AS m " \
"ON m.name = e.report_to " \
"ORDER BY `Manager`;" 

report2 = "SELECT m.name AS `Manager`,  e.name AS `Direct Report` " \
"FROM employee AS e " \
"LEFT JOIN employee AS m " \
"ON m.name = e.report_to " \
"ORDER BY `Manager`;" 

cte_demo = "with list_id_to_song_cnt AS ( " \
"select list_id, COUNT(song_name) as count " \
"from song " \
"group by list_id) " \
"select t1.list_id, t1.list_name, IFNULL(t2.count, 0) " \
"from list AS t1 " \
"left join list_id_to_song_cnt AS t2 on t1.list_id = t2.list_id;"

連接兩列 \

In [126]:
sql_string = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

In [124]:
report2

'SELECT m.name AS `Manager`,  e.name AS `Direct Report` FROM employee AS e LEFT JOIN employee AS m ON m.name = e.report_to ORDER BY `Manager`;'

In [127]:
sql_string

'SELECT   users.name AS user,   products.name AS favorite   FROM users   INNER JOIN products ON users.fav = products.id'

In [175]:
cmds = {
    "inner_join_2": inner1, # join_db
    "inner_join_3": inner2,
    "left_join_2": left1,
    "left_join_3" :left2,
    "difference": diff,
    "whos_boss": report1,  # self_join
    "whos_staff": report2,
    "cte": cte_demo        # jinsert
}

## fetchall()

In [129]:
db = join_db  # <-- join_db already defined
connection = sqlite3.connect(db)
cursor = connection.cursor()
sql = cmds['inner_join_2']

result = cursor.execute(sql).fetchall()

connection.close()

In [135]:
for row in result:
    # print(type(row))
    print(row)

(0, 0, 'tall15421542', '2020-10-21 16:10:10', 'a peaceful place', 'peace')
(0, 0, 'tall15421542', '2020-10-21 16:10:10', '3:30 am gratitude', 'gratitude')
(0, 0, 'tall15421542', '2020-10-21 16:10:10', 'at coffee lofi', 'I love coffee')
(1, 1, 'fivefishes5', '2020-10-21 16:10:10', 'RAINING IN NEW YORK', 'new york vibe')
(1, 1, 'fivefishes5', '2020-10-21 16:10:10', 'Autumn rainy day', 'autumn already')
(2, 2, '997_416', '2020-10-21 16:10:10', 'Campfire cracking', 'camping vibe')
(2, 2, '997_416', '2020-10-21 16:10:10', 'JazzHop Love', 'Jazz Lover')
(3, 3, 'lmnooney', '2020-10-21 16:10:10', 'coldplay', 'coldplay collection')
(4, 4, 'david_chen', '2020-10-21 16:10:10', 'kudasai beats', 'favorite lofi')

In [141]:
db = join_db  # <-- join_db already defined
connection = sqlite3.connect(db)
cursor = connection.cursor()
sql = cmds['difference']

cursor.execute(sql)
result = cursor.fetchall()

for row in result:
    print(row)
    
connection.close()

('winniehu', '2020-10-27 12:38:48', None)
('smartboy', '2020-10-27 12:38:48', None)

In [178]:
db = jinsert  
connection = sqlite3.connect(db)
cursor = connection.cursor()

result = cursor.execute(cmds['cte']).fetchall()

for row in result:
    print(row)
    
connection.close()

(0, 'a peaceful place', 7)
(1, '3:30 am gratitude', 3)
(2, 'at coffee lofi', 2)
(3, 'RAINING IN NEW YORK', 0)
(4, 'Autumn rainy day', 2)
(5, 'Campfire cracking', 4)
(6, 'JazzHop Love', 0)
(7, 'coldplay', 3)
(8, 'kudasai beats', 0)

## fetch()

In [142]:
db = join_db  # <-- join_db already defined
connection = sqlite3.connect(db)
cursor = connection.cursor()
sql = cmds['difference']

for row in cursor.execute(sql):
    print(row)
    
connection.close()

('winniehu', '2020-10-27 12:38:48', None)
('smartboy', '2020-10-27 12:38:48', None)

## prettytable demo

- [\[Python\] Pretty Table](https://medium.com/mr-brown/python-pretty-table-%E7%BE%8E%E9%BA%97%E7%9A%84%E8%A1%A8-a7879a47ade8)
- [generating tables in Python with PrettyTable](https://zetcode.com/python/prettytable/)

In [143]:
def sqlite_exec(db: str, sql: str) -> list:
    con = sqlite3.connect(db)
    cur = con.cursor()
    cur.execute(sql)
    result = cur.fetchall()
    con.close()
    return result

In [145]:
db_name = self_join

for row in sqlite_exec(db_name, cmds['whos_staff']):
    print(row)

(None, 'tall15421542')
('fivefishes', 'David chen')
('fivefishes', 'Ming Hung Tsai')
('lmnooney', 'fivefishes')
('lmnooney', 'Yi Jing Tsai')
('tall15421542', '997_416')
('tall15421542', 'lmnooney')

In [162]:
from prettytable import PrettyTable

output = PrettyTable()

# 如果要客製化表頭，修改 field_names 的內容,field_names 的元素個數
# 必須和 select 指令選出來的欄位數相同：
#
# output.field_names = ["欄位1", "欄位2",....]
#

output.field_names = ['list name', 'description', 'artist', 'song name']

for row in sqlite_exec(join_db, cmds['left_join_2']):
    output.add_row(list(row))
    
print(output)

+---------------------+---------------------+----------------+---------------------------------+
|      list name      |     description     |     artist     |            song name            |
+---------------------+---------------------+----------------+---------------------------------+
|   a peaceful place  |        peace        |  That's Cool   |          Days Like This         |
|   a peaceful place  |        peace        |    t.Stratt    |           Giant Leaves          |
|   a peaceful place  |        peace        |   Kainbeats    |     Lonely views in the park    |
|   a peaceful place  |        peace        |     Osaki      |              Nagoro             |
|   a peaceful place  |        peace        |   Dreweybear   |              Spirit             |
|   a peaceful place  |        peace        |   Elijah Lee   |        shoreside memories       |
|   a peaceful place  |        peace        |   Kainbeats    |         sunshine meadows        |
|  3:30 am gratitude  |      gratitude      |    hoogway     |             ingenue             |
|  3:30 am gratitude  |      gratitude      |     Lomtre     |            long night           |
|  3:30 am gratitude  |      gratitude      |     Lomtre     |           purple city           |
|    at coffee lofi   |    I love coffee    |   Chet Baker   |    I Fall In Love Too Easily    |
|    at coffee lofi   |    I love coffee    |    Burbank     | seeing your name makes me happy |
| RAINING IN NEW YORK |    new york vibe    |      None      |               None              |
|   Autumn rainy day  |    autumn already   |  Cotton Vibe   |             If Only             |
|   Autumn rainy day  |    autumn already   |   kainbeats    | Rays of Light on the Park Bench |
|  Campfire cracking  |     camping vibe    |    dryhope     |             Landing             |
|  Campfire cracking  |     camping vibe    | Hazy Year, C4C |              Melted             |
|  Campfire cracking  |     camping vibe    |  Psalm Trees   |               Rain              |
|  Campfire cracking  |     camping vibe    |  sleepy fish   |          Schoolgrounds          |
|     JazzHop Love    |      Jazz Lover     |      None      |               None              |
|       coldplay      | coldplay collection |    coldplay    |             Paradise            |
|       coldplay      | coldplay collection |    coldplay    |          The scientists         |
|       coldplay      | coldplay collection |    coldplay    |             fix you             |
|    kudasai beats    |    favorite lofi    |      None      |               None              |
+---------------------+---------------------+----------------+---------------------------------+

In [157]:
from prettytable import PrettyTable

output = PrettyTable()
output.field_names = ["Manager", "Direct Report"]

for row in sqlite_exec(self_join, cmds['whos_boss']):
    output.add_row(list(row))
    
print(output)

+--------------+----------------+
|   Manager    | Direct Report  |
+--------------+----------------+
|  fivefishes  |   David chen   |
|  fivefishes  | Ming Hung Tsai |
|   lmnooney   |   fivefishes   |
|   lmnooney   |  Yi Jing Tsai  |
| tall15421542 |    997_416     |
| tall15421542 |    lmnooney    |
+--------------+----------------+

In [ ]:
from prettytable import PrettyTable

output = PrettyTable()
output.field_names = ["Manager", "Direct Report"]

for row in sqlite_exec(self_join, cmds['whos_boss']):
    output.add_row(list(row))
    
print(output)